/* SECTION 00: UNIVERSAL SECTION*/
* {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

/* SECTION 01: BANNER SECTION */

/* this row intentionally left blank */

.page-header-container {
  height: 90.5vh;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 97px;
}

/* Let's make beautiful flowers a part of your life. */
#header-slogan {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 32px;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. */
#header-about {
  width: 534px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

/* BUTTON: SHOP NOW, SIGN UP, SUBSCRIBE */
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
}

/* Banner Image */
#banner-image {
  width: 635px;
  height: 800px;
  padding-top: 50px;
}

/* SECTION 02: HOT DEAL SECTION */

/* this row intentionally left blank */

.hot-deal-content-container {
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 186px;
}

/* Hot Deal ! Sale Up To 25% Off */
.headline-section {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 230px;
  padding-bottom: 24px;
}

/* Off, flower */
.span-text {
  color: #e55473;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. */
.about-section {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

/* BUTTON: SIGN UP */
#btn-sign-up {
  margin-bottom: 162px;
}

/* SECTION 03: SOCIAL MEDIA SECTION */

/* this row intentionally left blank */

.instagram-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-section-text {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Instagram */
#instagram-headline {
  padding-top: 128px;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. */
#instagram-about {
  padding-bottom: 48px;
}

/* 4 Flower Images */
#instagram-section-images {
  padding-bottom: 128px;
}

.instagram-flower {
  padding-right: 24px;
}

/* SECTION 04: EMAIL SUBSCRIBE SECTION */

/* this row intentionally left blank */

/* Background Image of Get The Latest Deals */
#bg-form-image {
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background-image: url("./Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  margin: auto;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 128px;
}

/* Get The Latest Deals */
#sub-form-text {
  padding-top: 122px;
  padding-bottom: 16px;
}

/* $30 coupon for first shopping */
#coupon-about {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 48px;
  text-align: center;
}

/* Enter Your Email Here */
#input-email-box {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding-left: 22px;
}

/* FOOTER SECTION */

/* this row intentionally left blank */
