/* SECTION 00: UNIVERSAL SECTION*/
* {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

/* SECTION 01: BANNER SECTION */

/* this row intentionally left blank */

.page-header-container {
  width: 1920px;
  height: 850px;
  flex-shrink: 0;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 97px;
}

/* Let's make beautiful flowers a part of your life. */
#slogan-header {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 32px;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. */
#about-header {
  width: 534px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

/* BUTTON: SHOP NOW, SIGN UP, SUBSCRIBE */
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
}

/* Banner Image */
#banner-image {
  width: 635px;
  height: 800px;
  padding-top: 50px;
}

/* SECTION 02: HOT DEAL SECTION */

/* this row intentionally left blank */

.hot-deal-content-container {
  width: 1922px;
  height: 620px;
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 186px;
}

/* Hot Deal ! Sale Up To 25% Off */
.headline-section {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

#hot-deal-headline {
  padding-top: 230px;
  padding-bottom: 24px;
}
/* Off, flower */
.span-text {
  color: #e55473;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. */
.about-section {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

#hot-deal-about {
  padding-bottom: 32px;
}

/* BUTTON: SIGN UP */
#btn-sign-up {
  margin-bottom: 162px;
}

/* SECTION 03: SOCIAL MEDIA SECTION */

/* this row intentionally left blank */

.instagram-section {
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-section-text {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Instagram */
#instagram-headline {
  padding-top: 128px;
  padding-bottom: 24px;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. */
#instagram-about {
  padding-bottom: 48px;
}

/* 4 Flower Images */
#instagram-section-images {
  padding-bottom: 128px;
}

.instagram-flower {
  padding-right: 24px;
}

/* SECTION 04: EMAIL SUBSCRIBE SECTION */

/* this row intentionally left blank */

/* Background Image of Get The Latest Deals */
.email-input-section {
  width: 1920px;
}

#bg-form-image {
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background-image: url("./Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  margin: auto;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 128px;
  margin-top: 128px;
}

/* Get The Latest Deals */
#sub-form-text {
  padding-top: 122px;
  padding-bottom: 16px;
}

/* $30 coupon for first shopping */
#coupon-about {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 48px;
  text-align: center;
}

/* Enter Your Email Here */
#input-email-box {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding-left: 22px;
}

/* FOOTER SECTION */

/* this row intentionally left blank */

#footer-section {
  width: 1922px;
  height: 449px;
  background: #111010;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-headline {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 24px;
}

#footer-about {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

#footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* BONUS SECTION: CSS */

/* OUR FEATURED FLOWERS */
#our-featured-flowers {
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#featured-flowers-headline {
  padding-top: 178px;
  padding-bottom: 24px;
}

/* Description of Featured Flower Showcase Section */
#featured-flower-about {
  padding-bottom: 48px;
}

/* Three colored background box of flower showcase */
.flower-showcase-box {
  width: 1920px;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

#flower-showcase-pink-box {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url("./Flower Asset/pngwing 6.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 24px;
}

#flower-showcase-blue-box {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-image: url("./Flower Asset/pngwing 5.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 24px;
}

#flower-showcase-green-box {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-image: url("./Flower Asset/pngwing 7.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Underlined text of showcased flowers */
.flower-name {
  width: 1920px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 128px;
  gap: 307px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* UNIQUE SECTION: CUSTOMER REVIEW */

/* this row intentionally left blank */
.customer-review-section {
  width: 1920px;
  height: 400px;
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

#flower-review {
  width: 150px;
  height: 150px;
  padding-right: 24px;
}

.flower-review-personal-information {
  display: flex;
  padding-right: 98px;
  align-items: center;
}

#tom-cruise-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

#tom-cruise-spend {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

#tom-cruise-review {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

#tom-cruise-review-text {
  width: 680px;
  color: #272727;
  font-size: 35px;
  font-weight: 400;
  padding-top: 20px;
}

#review-time {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
}

#rating-and-review-time {
  padding-bottom: 15px;
}

.tom-cruise-customer {
  background-color: red;
}

.customer-review-header {
  width: 1920px;
  color: #272727;
  background-color: #e554730d;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

/* The greatest glory in living lies not in never falling, but in rising every time we fall. -Nelson Mandela */

/* THE END */
